.chat-header {
    display: flex;
    /* margin-top: 1.2rem; */
    height: 70px;
    border-top-right-radius: 10px;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #444080;
    position: relative;

    .chat-user {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        padding: 10px;
    }

    .options {
        display: flex;
        gap: 10px;
        position: absolute;
        right: 0;

        img {
            height: 24px;
            padding-right: 5px;
            cursor: pointer;
        }
    }

    p {
        font-size: x-large;
        font-weight: 700;
        color: white;
        padding: 0.25rem;
    }
}

.chat-body {
    /* width: calc(100% - 448px); */
    /* height: 100%; */
    flex: 2;

    .chat-section {
        background-color: #ddddf7;
        padding: 10px;
        height: calc(100% - 161px);
        overflow-y: scroll;
    }

    .chat-section::-webkit-scrollbar {
        width: 10px;
    }

    .chat-section::-webkit-scrollbar-track {
        background: transparent;
    }

    .chat-section::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 6px;
    }

    .chat-section::-webkit-scrollbar-thumb:hover {
        background: #555;
        /* Color of the scrollbar handle on hover */
    }

    .message {
        display: flex;
        gap: 15px;
        margin-bottom: 20px;
        align-items: center;

        .messageInfo {
            display: flex;
            flex-direction: column;

            .last-seen {
                color: grey;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: smaller;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

        }

        .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
                background-color: white;
                padding: 18px 20px;
                border-radius: 0px 10px 10px 10px;
                max-width: max-content;
                position: relative;
                font-size: large;
            }

            img {
                width: 50%;
                border-radius: 10px;
            }

            .message-time {
                color: #626262;
                font-size: smaller;
                position: absolute;
                padding: 3px 3px;
                right: 0;
                bottom: 0;
            }

        }

        &.owner {
            flex-direction: row-reverse;

            .messageContent {
                align-items: flex-end;

                p {
                    background-color: #8da4f1;
                    color: white;
                    border-radius: 10px 0px 10px 10px;
                }
            }

        }

        .delete-Message {
            width: 40px;
            height: 40px;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
        }

        .delete-Message:hover {
            background-color: rgb(252, 111, 111);
            border-radius: 20%;
        }
    }
}