.form-register,
.form-login {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    font-size: larger;
    width: 25%;
    height: auto;

    form {
        display: flex;
        flex-direction: column;
        width: 100%;

        .forget-password {
            text-align: right;
            padding-right: 10px;
            color: rgb(154, 54, 54);
        }
    }
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9f9dd5;
    height: 98vh;
}

.header {
    font-weight: 700;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub-header {
    font-weight: 600;
    font-size: large;
}

#file {
    border: none;
    display: none;
}

#blob-input {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: larger;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
    gap: 5px;
}

#blob-input img {
    width: 24px;
    height: 24px;
}



.home-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 98vh;
    width: 70vw;


    .chat-window {
        border-radius: 10px;
        width: 100%;
        height: 80%;
        display: flex;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}